@{
    ViewData["Title"] = "Asteroids Near Earth";
}

<div class="container home-page">
    <div class="row align-items-center">
        <div class="col-md-6 mb-4 d-flex justify-content-center">
            <img src="~/images/asteroid.png" alt="asteroid" style="max-width: 100%; height: auto;" />
        </div>

        <div class="col-md-6 d-flex justify-content-center">
            <div class="text-center px-3">
                <h1 class="mb-4">Tracking Asteroids Near Our Planet</h1>
                <p class="mb-4">
                    Stay updated with real-time data on asteroids passing close to Earth. This advanced monitoring system
                    tracks orbital paths, sizes, and potential risks, keeping you informed and prepared.
                </p>
                <div class="d-flex justify-content-center gap-3 mt-5">
                    <a href="/Asteroids" class="btn btn-primary">View Asteroids Data</a>
                    <a href="/Apod" class="btn btn-outline-secondary">Get Astronomy Picture of the Day</a>
                </div>
            </div>
        </div>
    </div>
</div>